h1 {
	font-family: Gill Sans, sans-serrif;
	color: #FFFCE4;
}

footer {
	font-family: Gill Sans, sans-serrif;
}

article {
	display: inline-block;
	margin: 2% -1% 1% 1%;
}

footer {
	clear: both;
}

header {
	background: #A5ADFF;
	margin-top: -25px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	margin-right: -8px;
	margin-left: -8px;
	border-top: 24px solid #777CB8;
}

h1 {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 25px;
}

p {
	background: #A2B1CC;
	text-align: center;
	color: #FFFCE4;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 85%;
	margin-left: 22px;
	margin-top: -5px;
}

img {
	width: 85%;
}

html {
	background: url(wet_snow.png);
}

.outer {
	width: 100%;
	text-align: center;
}

article:hover {
	opacity: .5;
}

@media (max-width: 700px) {
	article {
		display: inline-block;
		margin: 10% -1% -4% 1%;
	}
}
